.main-header{
   font-size: 3.5rem;
   font-weight: bold;
   color: var(--clr-dark);
}

@media (min-width: 576px){
   .main-header{
      font-size: 4rem;
   }
}

.my-photos{
   object-fit: cover;
   width: 100%;
   border-radius:1rem;
   -webkit-border-radius: 1 rem;
   -moz-border-radius: 1rem;
   -o-border-radius: 1rem;
}